/* Main */
nav ul
{
        width: 100%;
        margin: 0;
        padding: 10px 0 0 0;
        list-style: none;
        background: #111;
        background: linear-gradient(#444, #111);
        border-radius: 10px;
        box-shadow: 0 2px 1px #9c9c9c; 
}

nav ul li
{
        float: left;
        padding: 0 0 10px 0;
        position: relative;
}

nav ul a
{
        float: left;
        height: 25px;
        padding: 0 25px;
        color: #999;
        text-transform: uppercase;
        font: bold 12px/25px Arial, Helvetica;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
}

nav ul li:hover > a
{
        color: #fafafa;
}

nav ul li:hover > ul
{
        display: block;
}

/* Sub-menu */

nav ul ul
{    
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: linear-gradient(#444, #111);
    border-radius: 5px;
}

nav ul ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

nav ul ul li:last-child
{

    box-shadow: none;
}

nav ul ul a
{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}
nav ul ul a:hover
{
    background: #0186ba;
    background: linear-gradient(#04acec,  #0186ba);
}

nav ul ul li:first-child a
{
    border-radius: 5px 5px 0 0;
}

nav ul ul li:first-child a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 5px solid #444;
    border-top: 0 solid transparent;
}

nav ul ul li:first-child a:hover:after
{
    border-bottom-color: #04acec;
}

nav ul ul li:last-child a
{
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
nav ul:after
{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}
