html {
     height: 100%;
}
h1 
{
    color: #2E2E2E;
    font: bold 24px/48px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

header img
{
    float:left;    
}

body 
{
    font: 12px Arial,Sans-Serif;
    padding: 0;
    margin: 0 5px 0 5px;
    background: linear-gradient(#fff, #eee);    
    
}

section
{
    padding: 10px;
    margin: 10px;
}

section aside
{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 1px #9c9c9c;
    padding: 5px;
    float:left;    
}

footer
{      
    width: 99%;
    color: #70625A;
    text-align: center;
    font-size: x-small;
    clear: both;
    position: absolute;
    bottom: 0;
    z-index: 10;
    height: 3em;
}

